@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:default;
    user-select: none;
}