@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');


.sideBar{
    height: 100%;
    background-color: #071952;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 2s ease;
    
}
.inactive{
    width: 55px;
}
.active{
    width: max-content;
}

.menuSection{
    width: 100%;
    padding: 10px 30px 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    transition: background-color 1s;
    text-decoration: none;
    color: #F7F7F8;
}
.menuSection:hover{
    color: #000000;
    background-color: #8a8d86;
}
.dashboard{
    padding: 15px 5px 15px 20px;
} 
.icon{
    font-size: 25px;  
}  
.closeIcon{
    float: right;
    padding-left: 10px;
    display: flex;
    font-size: 35px;
    margin-left: 20px;
}
.menuName{
    display: inline;
    transition: 2s;
    
}